body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $brand_black_color;
  font-family: 'Play', sans-serif;
}
html{
  height: 100%;
  font-size: 10px;
}
.root{
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}