.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: $brand_white_color !important;
  font-size: $font-size-base !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: $brand_white_color !important;
  font-size: $font-size-base !important;
  background-color: $brand_black_color;
}
.css-q8hpuo-MuiFormControl-root{
  grid-area: stock;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  color: $brand_white_color !important;
  font-size: $font-size-base !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: $gray_color !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-size: $font-size-base !important;
}